<div class="main">
  <a href="/"><%= image_tag 'logo-circle.svg', class: 'logo-circle' %></a>
  <h3 class="primary-color">REVIEWHUNT PRE SIGN-UP</h3>
  <h1 class="less-margin">HUNTER</h1>
</div>

<%= form_for @hunter, html: { class: 'form hunter-form' } do |f| %>
  <h2 class="sans"><%= t('form.heading') %></h2>
  <%= f.text_field :name, placeholder: t('form.full_name'), class: 'input-text' %>
  <%= f.email_field :email, placeholder: t('form.email'), class: 'input-text' %>
  <%= f.country_select :country_code, prompt: t('form.choose_country') %>

  <h2><%= t('form.heading2') %></h2>
  <select id="add-channels">
    <option value=""><%= t('form.add_channels') %></option>
    <% Channel::SUPPORTED_CHANNELS.each do |c| %>
      <option value="<%= c %>"><%= c.titleize %></option>
    <% end %>
  </select>

  <div id="channels"></div>

  <% if @hunter.errors.any? %>
    <div class="error">
      <%= @hunter.errors.full_messages.first %>
    </div>
  <% end %>

  <input type="submit" value="<%= t('form.submit') %>" class="btn btn-primary"/>
<% end %>

<div class="back-button">
  <a href="/"><%= t('form.back') %></a>
</div>

<script>
  new Choices('#hunter_country_code');
  const channelChoice = new Choices('#add-channels');

  const channelTemplate = function(name, value = '') {
    return `
      <div class="channel">
        <span class="label">${titleize(name)}:</span>
        <input type="hidden" name="hunter[channels_attributes][][channel_name]" value="${name}" />
        <input type="text" name="hunter[channels_attributes][][url]" value="${value}" class="input-text" placeholder="<%= t('form.input_url') %>" />
        <%= image_tag 'minus.svg', class: 'remove' %>
      </div>
    `;
  }

  const restoreChannels = function(array) {
    for (c of array) {
      $('#channels').append(channelTemplate(c.channel_name, c.url));
    }
  }
  <% if params[:hunter] && !params[:hunter][:channels_attributes].blank? %>
    restoreChannels(<%= params[:hunter][:channels_attributes].to_json.html_safe %>);
  <% end %>

  $('#add-channels').on('change', function(e) {
    if (e.detail.value) {
      $('#channels').append(channelTemplate(e.detail.value));
    }
    channelChoice.setChoiceByValue('');
  });

  $('#channels').on('click', '.remove', function(e) {
    $(e.target).parent().remove();
  });
</script>
