<div class="main">
  <a href="/"><%= image_tag 'logo-circle.svg', class: 'logo-circle' %></a>
  <h3 class="primary-color">REVIEWHUNT PRE SIGN-UP</h3>
  <h1 class="less-margin">HUNTER</h1>
</div>

<%= form_for @hunter, html: { class: 'form hunter-form' } do |f| %>
  <h2 class="sans">General Information</h2>
  <%= f.text_field :name, placeholder: 'Full Name', class: 'input-text' %>
  <%= f.email_field :email, placeholder: 'Email', class: 'input-text' %>
  <%= f.country_select :country_code, prompt: '- Choose Country of Regidence -' %>

  <h2>What social channels or communities are you involved with?</h2>
  <select id="add-channels">
    <option value="">- Add Channels -</option>
    <% Channel::SUPPORTED_CHANNELS.each do |c| %>
      <option value="<%= c %>"><%= c.titleize %></option>
    <% end %>
  </select>

  <div id="channels"></div>

  <% if @hunter.errors.any? %>
    <div class="error">
      <%= @hunter.errors.full_messages.first %>
    </div>
  <% end %>

  <input type="submit" value="SUBMIT" class="btn btn-primary"/>
<% end %>

<div class="back-button">
  <a href="/">BACK TO HOME</a>
</div>

<script>
  const choices = new Choices('#hunter_country_code, #add-channels');

  const channelTemplate = function(name) {
    return `
      <div class="channel">
        <span class="label">${titleize(name)}:</span>
        <input type="text" class="input-text" placeholder="Input your profile URL" />
        <%= image_tag 'minus.svg', class: 'remove' %>
      </div>
    `;
  }

  $('#add-channels').on('change', function(e) {
    if (e.detail.value) {
      $('#channels').append(channelTemplate(e.detail.value));
    }
  });

  $('#channels').on('click', '.remove', function(e) {
    $(e.target).parent().remove();
  });
</script>
