<div class="main">
  <%= image_tag 'logo-circle.svg', class: 'logo-circle' %>
  <h3 class="primary-color">REVIEWHUNT</h3>
  <h1>Build Launching Hype<br/>by Millions of Hunters</h1>
  <div class="actions">
    <button class="btn btn-primary">PRE SIGN-UP<br/>MAKERS</button>
    <button class="btn">PRE SIGN-UP<br/>HUNTERS</button>
  </div>
  <%= image_tag 'main-img-2.png', srcset: { 'main-img-2@2x.png' => '2x', 'main-img-2@3x.png' => '3x' }, class: 'main-img' %>
</div>

<div class="review-reinvented">
  <%= image_tag 'logo-circle-2.svg', class: 'logo-circle-2' %>
  <h2>Reviews. Reinvented.</h2>
  <h3 class="grey">Coming This Summer</h3>
</div>

<div class="intro padded left">
  <div class="text-box">
    <div class="primary-color">Stop promoting yourself.</div>
    <div>Make hunters talk about your product over all accessible channels.</div>
  </div>

  <%= image_tag 'feature-1.png', srcset: { 'feature-1@2x.png' => '2x', 'feature-1@3x.png' => '3x' }, class: 'feature-image' %>
</div>

<div class="intro padded right">
  <div class="text-box">
    <div class="primary-color">Run privately, not publically.</div>
    <div>Your review offers get delivered only to the hunters that meet your standards.</div>
  </div>
  <%= image_tag 'feature-2.png', srcset: { 'feature-2@2x.png' => '2x', 'feature-2@3x.png' => '3x' }, class: 'feature-image' %>
</div>

<div class="intro padded left">
  <div class="text-box">
    <div class="primary-color">No abuse worries.</div>
    <div>Community-based moderation system will protect you from abusers and low quality review content.
</div>
  </div>
  <%= image_tag 'feature-3.png', srcset: { 'feature-3@2x.png' => '2x', 'feature-3@3x.png' => '3x' }, class: 'feature-image' %>
</div>

<div class="intro padded right">
  <div class="text-box">
    <div class="primary-color">Make a special request.</div>
    <div>Browse top hunters by performance, channel, and various other conditions.</div>
  </div>
  <%= image_tag 'feature-4.png', srcset: { 'feature-4@2x.png' => '2x', 'feature-4@3x.png' => '3x' }, class: 'feature-image' %>
</div>