<div class="main">
  <a href="<%= I18n.locale == :en ? '/ko' : '/' %>" class="language">
    <%= I18n.locale == :en ? 'Korean' : 'English' %>
  </a>
  <%= image_tag 'logo-circle.svg', class: 'logo-circle' %>
  <h3 class="primary-color">REVIEWHUNT</h3>
  <h1><%= t('main.tagline') %></h1>
  <div class="actions">
    <a href="<%= I18n.locale %>/makers/new" class="btn btn-primary"><%= t('main.signup_maker').html_safe %></a>
    <a href="<%= I18n.locale %>/hunters/new" class="btn"><%= t('main.signup_hunter').html_safe %></a>
  </div>
  <% unless flash[:notice].blank? %>
    <div class="thank-you">
      <%= image_tag 'tick.svg', class: 'tick' %> <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="siema">
    <div><%= image_tag 'main-img-1.png', alt: 'Demo Image 1', srcset: { 'main-img-1@2x.png' => '2x', 'main-img-1@3x.png' => '3x' }, class: 'main-img' %></div>
    <div><%= image_tag 'main-img-2.png', alt: 'Demo Image 2', srcset: { 'main-img-2@2x.png' => '2x', 'main-img-2@3x.png' => '3x' }, class: 'main-img' %></div>
  </div>
</div>

<div class="maker-stats grey-gradient">
  <div class="padded">
    <h1 class="sans bigger">
      <%= t('stats_maker.heading',
          maker_count: number_with_delimiter(@stats[:maker_count]),
          total_budget: number_to_currency(@stats[:total_budget], precision: 0),
        ).html_safe %>
    </h1>

    <div class="split">
      <div class="first left">
        <%= image_tag 'x-2-credit-btn.png', alt: 'Pre Sign-up Get x2 Credit', srcset: { 'x-2-credit-btn@2x.png' => '2x', 'x-2-credit-btn@3x.png' => '3x' }, class: 'x-2-credit-btn' %>
      </div>
      <div class="second right">
        <h3 class="sans normal"><%= t('stats_maker.heading2') %></h3>
        <p class="grey">
          <%= t('stats_maker.text') %>
        </p>
        <a href="<%= I18n.locale %>/makers/new" class="btn btn-primary"><%= t('main.signup_maker').html_safe %></a>
        <p><%= t('stats_maker.table_title') %></p>
        <table>
          <tr>
            <th>ID</th>
            <th><%= t('stats_maker.th_company') %></th>
            <th><%= t('stats_maker.category') %></th>
            <th><%= t('stats_maker.monthly_budget') %></th>
          </tr>
          <% @stats[:last_makers].each do |m| %>
            <tr>
              <td><%= m.id %></td>
              <td><%= hashed_name(m.company_name) %></td>
              <td><%= m.business_category %></td>
              <td><%= number_to_currency m.monthly_budget %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div><!-- // .split -->
  </div><!-- // .padded -->
</div><!-- // .maker-stats -->

<div class="hunter-stats">
  <div class="padded">
    <h1 class="sans bigger">
      <%= t('stats_hunter.heading').html_safe %>
    </h1>
  <div class="split">
      <div class="first right">
        <%= image_tag 'm-dashboard.png', srcset: { 'm-dashboard@2x.png' => '2x', 'm-dashboard@3x.png' => '3x' }, class: 'm-dashboard' %>
      </div>
      <div class="second left">
        <h3 class="sans normal"><%= t('stats_hunter.heading2') %></h3>
        <p class="grey">
          <%= t('stats_hunter.text') %>
        </p>
        <a href="<%= I18n.locale %>/hunters/new" class="btn"><%= t('main.signup_hunter').html_safe %></a>
        <p><%= t('stats_hunter.graph_title') %></p>
        <% @stats[:channel_count].each do |c| %>
          <% percent = (100 * c[1] / @stats[:max_count]).to_i %>
          <div class="progress" style="width: <%= percent < 1 ? 1 : (percent > 100 ? 100 : percent) %>%"%></div>
          <div class="grey"><%= c[0].titleize %>: <%= number_with_delimiter c[1].to_i %> <%= Channel.follower_name(c[0]) %></div>
        <% end %>
      </div>
    </div><!-- // .split -->
  </div><!-- // .padded -->
</div><!-- // .hunter-stats -->

<div class="steemhunt pink-gradient">
  <div class="left"></div>
  <div class="right">
    <h2><%= t('steemhunt.title') %></h2>
    <a href="https://steemhunt.com" target="_blank" class="btn btn-white"><%= t('steemhunt.learn_more') %></a>
  </div>
</div>

<div class="review-reinvented grey-gradient">
  <%= image_tag 'logo-circle-2.svg', class: 'logo-circle-2' %>
  <h2><%= t('reinvented.title') %></h2>
  <h3 class="grey sans normal"><%= t('reinvented.date') %></h3>
</div>

<div class="intro padded left">
  <div class="text-box">
    <div class="primary-color"><%= t('intro.title_1') %></div>
    <div><%= t('intro.text_1') %></div>
  </div>

  <%= image_tag 'feature-1.png', srcset: { 'feature-1@2x.png' => '2x', 'feature-1@3x.png' => '3x' }, class: 'feature-image' %>
</div>

<div class="intro padded right">
  <div class="text-box">
    <div class="primary-color"><%= t('intro.title_2') %></div>
    <div><%= t('intro.text_2') %></div>
  </div>
  <%= image_tag 'feature-2.png', srcset: { 'feature-2@2x.png' => '2x', 'feature-2@3x.png' => '3x' }, class: 'feature-image' %>
</div>

<div class="intro padded left">
  <div class="text-box">
    <div class="primary-color"><%= t('intro.title_3') %></div>
    <div><%= t('intro.text_3') %></div>
  </div>
  <%= image_tag 'feature-3.png', srcset: { 'feature-3@2x.png' => '2x', 'feature-3@3x.png' => '3x' }, class: 'feature-image' %>
</div>

<div class="intro padded right">
  <div class="text-box">
    <div class="primary-color"><%= t('intro.title_4') %></div>
    <div><%= t('intro.text_4') %></div>
  </div>
  <%= image_tag 'feature-4.png', srcset: { 'feature-4@2x.png' => '2x', 'feature-4@3x.png' => '3x' }, class: 'feature-image' %>
</div>

<div class="token-demands grey-gradient">
  <div class="padded">
    <h1 class="sans bigger">
      <%= t('real_demands.title').html_safe %>
    </h1>
  <div class="split">
      <div class="first right">
        <%= image_tag 'sync-exchange-img.png', srcset: { 'sync-exchange-img@2x.png' => '2x', 'sync-exchange-img@3x.png' => '3x' }, class: 'sync-exchange-img' %>
      </div>
      <div class="second left">
        <p class="grey">
          <%= t('real_demands.text') %>
        </p>
      </div>
    </div><!-- // .split -->
  </div><!-- // .padded -->
</div><!-- // .hunter-stats -->

<div class="footer mint-gradient">
  <%= image_tag 'logo-circle-clean.svg', class: 'logo-circle' %>
  <h3>REVIEWHUNT</h3>
  <h2><%= t('reinvented.date') %></h2>
  <div class="actions">
    <a href="<%= I18n.locale %>/makers/new" class="btn btn-primary"><%= t('main.signup_maker').html_safe %></a>
    <a href="<%= I18n.locale %>/hunters/new" class="btn"><%= t('main.signup_hunter').html_safe %></a>
  </div>
  <div class="links">
    <p><a href="https://token.steemhunt.com" target="_blank"><%= t('footer.what_is') %></a></p>
    <p><a href="https://steemhunt.com" target="_blank"><%= t('footer.check_out') %></a></p>
  </div>
</div>

<script>
  const carousel = new Siema({
    selector: '.siema',
    duration: 300,
    easing: 'ease-out',
    draggable: false,
    loop: true,
  });

  const carouselInterval = setInterval(function() {
    carousel.next();
  }, 3000);
</script>