<div class="main">
  <a href="/"><%= image_tag 'logo-circle.svg', class: 'logo-circle' %></a>
  <h3 class="primary-color">REVIEWHUNT PRE SIGN-UP</h3>
  <h1 class="less-margin">MAKER</h1>
</div>

<%= form_for @maker, html: { class: 'form' } do |f| %>
  <h2 class="sans"><%= t('form.heading') %></h2>
  <%= f.text_field :company_name, placeholder: t('form.company_name'), class: 'input-text' %>
  <%= f.text_field :name, placeholder: t('form.full_name'), class: 'input-text' %>
  <%= f.email_field :email, placeholder: t('form.email'), class: 'input-text' %>
  <%= f.text_field :position, placeholder: t('form.position'), class: 'input-text' %>

  <h2 class="sans"><%= t('form.heading3') %> </h2>
  <%= f.select :business_category, Maker::BUSINESS_CATEGORIES, prompt: t('form.choose_category') %>

  <h2 class="sans"><%= t('form.heading4') %></h2>
  <%= f.number_field :monthly_budget, placeholder: t('form.monthly_budget'), class: 'input-text' %>

  <% if @maker.errors.any? %>
    <div class="error">
      <%= @maker.errors.full_messages.first %>
    </div>
  <% end %>

  <input type="submit" value="<%= t('form.submit') %>" class="btn btn-primary"/>
<% end %>

<div class="back-button">
  <a href="/"><%= t('form.back') %></a>
</div>

<script>
  const choices = new Choices('#maker_business_category');
</script>
